<p>Main page</p>
<div class="logo-container">
  <p><a routerLink="/collections">{{auth.getUserDetails()?.name | titlecase}}</a> is logged in.</p>
  <button mat-stroked-button color="primary" *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()">Logout</a></button>
</div>
<table mat-table [dataSource]="users">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> User id </th>
    <td mat-cell *matCellDef="let user"> {{user._id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> User name </th>
    <td mat-cell *matCellDef="let user"> {{user.name}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> User email </th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>
  <ng-container matColumnDef="collections">
    <th mat-header-cell *matHeaderCellDef> User collections </th>
    <td mat-cell *matCellDef="let user"><a routerLink="/collections">Collections</a></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
<router-outlet></router-outlet>
