<div class="collections-container">
  <mat-card *ngFor="let collection of collections">
    <mat-card-title>{{collection.fullName}}</mat-card-title>
    <mat-card-content>
      <p>{{collection.dateOfBirth | date}}</p>
    </mat-card-content>
    <mat-card-footer>Physician: {{collection.doctorInCharge}}</mat-card-footer>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/collections', collection._id]">Show</button>
    </mat-card-actions>
  </mat-card>
</div>
<router-outlet></router-outlet>
