<div class="collections-container">
  <mat-card *ngFor="let collection of collections">
    <mat-card-title>{{collection.name}}</mat-card-title>
    <mat-card-content>
      <p>{{collection.description}}</p>
    </mat-card-content>
    <mat-card-footer>By: {{collection.authorName}}</mat-card-footer>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/collections', collection._id]">Show</button>
    </mat-card-actions>
  </mat-card>
</div>
<router-outlet></router-outlet>
