nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.collection-container {
  display: flex;
}
mat-card {
  width: 300px;
  max-width: 300px;
  margin-right: 20px;
  color: black;
  cursor: pointer;
}
mat-card-subtitle {
  color: black;
}
mat-divider {
  border-top-color: black;
}

