<div class="collection-form-container">
  <p>Patient</p>
  <mat-form-field appearance="fill">
    <mat-label>Full name:</mat-label>
    <input matInput [(ngModel)]="newPatient.fullName">
  </mat-form-field>
  <mat-radio-group aria-label="Select an option" [(ngModel)]="newPatient.isMale">
    <mat-radio-button value="true">Male</mat-radio-button>
    <mat-radio-button value="false">Female</mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="fill">
    <mat-label>Date of birth:</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="newPatient.dateOfBirth">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Address:</mat-label>
    <input matInput [(ngModel)]="newPatient.address">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Phone number:</mat-label>
    <span matPrefix>+375 &nbsp;</span>
    <input type="tel" matInput placeholder="29-333-22-11" [(ngModel)]="newPatient.number">
  </mat-form-field>
  <mat-card-actions>
    <button mat-raised-button color="primary" *ngIf="isCreationMode" (click)="addCollection()">
      Add patient
    </button>
    <button mat-raised-button color="primary" *ngIf="!isCreationMode" (click)="editCollection()">
      Edit patient
    </button>
  </mat-card-actions>
</div>
