<h2>User Collections</h2>
<div class="collections-container">
  <mat-card>
    <button mat-icon-button class="delete-btn">
      <i class="material-icons delete">delete</i>
    </button>
    <mat-card-title>Collection name</mat-card-title>
    <mat-card-content>
      <p>Collection description</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/collections/1">Show</button>
    </mat-card-actions>
  </mat-card>
</div>
<router-outlet></router-outlet>
