.collections-container {
  display: flex;
  justify-content: space-around;
}
mat-card {
  width: 300px;
  max-width: 300px;
  margin-right: 20px;
  position: relative;
  padding-right: 30px;
}
.delete-btn {
  position: absolute;
  right: 0px;
  top: 0px;
}
