<h2>{{auth.getUserDetails()?.name | titlecase}} page</h2>
<button mat-raised-button color="primary" routerLink="/collections/new">Add</button>
<div class="collections-container">
  <mat-card *ngFor="let collection of collections">
    <button mat-icon-button class="edit-btn" [routerLink]="['/collections/edit', collection._id]">
      <i class="material-icons edit">edit</i>
    </button>
    <button mat-icon-button class="delete-btn" (click)="deleteCollection(collection._id)">
      <i class="material-icons delete">delete</i>
    </button>
    <mat-card-title>{{collection.name}}</mat-card-title>
    <mat-card-content>
      <p>{{collection.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/collections', collection._id]">Show</button>
    </mat-card-actions>
  </mat-card>
</div>
<router-outlet></router-outlet>
