<div class="item-container">
  <mat-card *ngIf="item" [style.background-color]="item.isDrug ? 'pink' : item.isPsycho ? 'yellow' : 'gray'">
    <mat-card-title>Prescription, {{item.payment}} payment</mat-card-title>
    <mat-card-subtitle>Doctor: {{item.authorName}}</mat-card-subtitle>
    <mat-card-subtitle>Patient: {{patientName}}</mat-card-subtitle>
    <mat-card-content>
      <div class="row">
        <span>Rp.: </span>
        <span> {{item.form | titlecase}}</span>
        <span> {{item.name}}</span>
        <span> {{item.dose}}</span>
      </div>
      <div>
        <span>D.t.d. N.: </span>
        <span>{{item.amount}}</span>
      </div>
      <div>
        <span>S.: </span>
        <span>{{item.prescription}}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="comment-textarea" *ngIf="auth.isLoggedIn()">
  <mat-form-field appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput [(ngModel)]="comment"></textarea>
    <button mat-raised-button color="primary" class="send-btn" (click)="addComment()">
      Send
    </button>
  </mat-form-field>
</div>
<div class="comments-container" *ngIf="item">
  <div class="comment" *ngFor="let comment of item.comments">
    <p class="text">{{comment.comment}}</p>
    <p class="author">By: {{comment.author}}</p>
  </div>
</div>


