nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.search-container {
  display: flex;
  align-items: center;
  input {
    border: 1px solid gray;
  }
}
