.item-form-container {
  background-color: gray;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  padding: 0px 0px 15px 15px;
}
.row {
  height: 50px;
  display: flex;
  align-items: center;
}
mat-checkbox {
  margin-right: 30px;
}
h4 {
  text-align: center;
  margin-bottom: 0px;
}
mat-label {
  font-size: 14px;
}
.form,
.dose {
  width: 130px;
}
.payment,
.amount,
.prescription {
  width: 200px;
}
input {
  cursor: pointer;
}
