<button mat-stroked-button color="primary"><a routerLink="/users" routerLinkActive="active">Users</a></button>
<button mat-icon-button class="add-btn" (click)="showForm()"><i class="material-icons">add_box</i></button>
<div class="note-form-container" *ngIf="isVisible">
  <mat-form-field appearance="fill">
    <mat-label>Note title</mat-label>
    <input matInput [(ngModel)]="newNote.title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Note text</mat-label>
    <textarea matInput [(ngModel)]="newNote.text"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Note Color</mat-label>
    <mat-select [(value)]="newNote.color">
      <mat-option value="#a6c6c1"><span class="color" style="background-color: #a6c6c1;"></span> Sea</mat-option>
      <mat-option value="#debfb5"><span class="color" style="background-color: #debfb5;"></span> Coral</mat-option>
      <mat-option value="#baa6a5"><span class="color" class="color" style="background-color: #baa6a5;"></span> Dark</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card-actions>
    <button mat-raised-button color="primary" *ngIf="isCreationMode" (click)="createNote()">Create note</button>
    <button mat-raised-button color="primary" *ngIf="!isCreationMode" (click)="updNote()">Edit note</button>
  </mat-card-actions>
</div>
<div class="notes-container" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
  <mat-card class="note" *ngFor="let note of notes" [style.background-color]="note.color" cdkDrag>
    <button mat-icon-button class="close-btn" (click)="deleteNote(note._id)">
      <i class="material-icons delete" style="color: black;">close</i>
    </button>
    <button mat-icon-button class="edit-btn" (click)="editNote(note)">
      <i class="material-icons edit" style="color: black;">edit</i>
    </button>
    <mat-card-title>{{note.title}}</mat-card-title>
    <mat-card-subtitle>{{note.createdDate | date: ('medium')}}</mat-card-subtitle>
    <mat-card-content>{{note.text}}</mat-card-content>
  </mat-card>
</div>



